body{
  background-color: #DDDDDD;
  font-family: 'Rubik', sans-serif;
}
.mg-logo{
  background-color: white;
  font-family: 'Acme', sans-serif;
  color: #21AEDC;
  padding: 15px;
  height: 80px;
}

nav{
  background-color: #21AEDC;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 15px 0;
  height: 80px;
}

nav span{
  color: white;
  font-weight: bolder;
  padding-right: 10px;
}

nav .form-select{
  width: 10%;
}

main{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mg-box{
  width: 200px;
  height: 100px;
  border-radius: 15px;
  box-shadow: 2px 2px #BBBBBB;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.mg-box i{
  font-size: 50px;
}

.mg-orange{
  color: orange;
}
.mg-blue{
  color: blue;
}
.mg-green{
  color: green;
}